<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      body{
        display: flex;
        justify-content: center;
      }
      .page{
        max-width: 800px;
      }
      h3,h5{
        margin:0px;
        padding:0px;
      }
      .lings-title{
        font-family: Arial, Helvetica, sans-serif;
        color:dodgerblue;
        text-align: center;
      }
      .lings-content{
        display: flex;
        justify-content: center;
      }
      .lings-content-item-desc{
        text-indent:5ex
      }
      .lings-content-item-title{
        display:flex;
        align-items: center;
        margin-bottom: 30px;
      }
      .lings-content-item-title::before{
        content: "";
        display: block;
        position: relative;
        top: 50%;
        margin-right: 10px;
        width:10px;
        height:10px;
        border-radius: 50%;
        background-color: dodgerblue;
      }
    </style>
</head>
<body>
  <div class="page">
    <div class="lings-title">
      <h1>极简</h1>
    </div>

    <% site.posts.forEach(function(post){ %>
    <div class="lings-content">
      <div class="lings-content-item">
        <div class="lings-content-item-title">
          <h3><%= post.title %></h3>
        </div>
        <div class="lings-content-item-desc">
          <h5><%- post.content %></h5>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</body>

</html>